.aboutLinksContainer {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   background-color: rgb(42, 22, 56);
}

.aboutLinksContainer ul {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   list-style: none;
}
