.searchInput {
   padding: 5px;
   padding-left: 8px;
   border: 0;
   border: 1px solid rgb(230, 230, 230);
   border-radius: 10px;
   transition-duration: .35s;
}

.searchInput:hover {
   box-shadow:0 3px 3px 1px rgba(0,0,0,0.07)
}

.searchInput::placeholder {
   color: rgba(0,0,0,0.3);
}
