.reviewsContainer {
   margin-top: 25px;
}

#singleReviewContainer {
   padding-top: 10px;
}



.singleReviewButtonsContainer > button {
   padding: 5px;
   height: 20px;
   background-color: rgb(199, 45, 99);
   color: whitesmoke;
   transition-duration: .1s;
   font-size: 8px;
   cursor: pointer;
}

/* .singleReviewButtonsContainer #reviewButton {
   visibility: hidden;
}

.singleReviewContainer:hover > .singleReviewButtonContainer > #reviewButton{
   visibility: visible;
} */

.singleReviewButtonsContainer > button:hover {
   box-shadow:0 2px 2px 1px rgba(0,0,0,0.1);
   background-color: rgb(165, 38, 83);
}
