#splashPageContainer {
   position: relative;
   top: 60px;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
}

.activityCardsContainer {
   height: 500px;
   width: 80%;
   overflow: auto;
   white-space: nowrap;
   padding-left: 30px;
   padding-right: 30px;
   display: flex;
   align-items: center;
}

.activityCard {
   display: inline-block;
   display: flex;
   height: 450px;
   width: 320px;
   background-size: cover;
   background-position: center;
   margin-right: 30px;
   padding: 20rem 0 0;
   border-radius: 10px;
   transition-duration: .25s;
}

.activityCard:hover {
   transform: scale(1.02, 1.02);
   box-shadow:0 2px 2px 1px rgba(0,0,0,0.1);
}

.activityCardContent {
   padding: 1.5em;
   width: inherit;
   background: linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, .25) 30%,
      rgba(0, 0, 0, 1)
   );
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   white-space: normal;
   font-weight: 300;
   overflow: scroll;
   hyphens: manual;
   font-family: inherit;
   color: white;
}

#activityCardName {
   font-size: 22px;
   height: 65%;
   overflow: none;
}
