.navBarContainer {
   width: 100%;
   position: fixed;
   top: 0;
   background-color:white;
   box-shadow: 0 10px 25px rgb(0 0 0 / 5%), 0 20px 48px rgb(0 0 0 / 5%), 0 1px 4px rgb(0 0 0 / 10%);
   height: 45px;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 1;
}

.navBarContent {
   width: 85%;
   max-width: 1280px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: fixed;
   padding-left: 40px;
   padding-right: 40px;
}

.navBarContent ul {
   list-style: none;
}

.navBarLeft li {
   padding-right: 5px;
}

.navBarLeft {
   width: 25%;
}

.navBarMiddle {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 50%;
}

.navBarMiddle input {
   width: 75%;
}

.navBarRight {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   width: 25%;
}

.navBarRight li {
   padding-right: 5px;
}

.navBarRight li > button {
   padding: 5px;
   background-color: rgb(199, 45, 99);
   color: whitesmoke;
   transition-duration: .1s;
   font-size: 10px;
}

.navBarRight li > button:hover {
   box-shadow:0 2px 2px 1px rgba(0,0,0,0.1);
   background-color: rgb(165, 38, 83);
}

#profileButton {
   font-size: 14px;
   color: rgb(100, 100, 100);
   border: 1px solid rgb(220, 220, 220);
   border-radius: 15px;
   width: 50px;
   height: 30px;
   padding: 8px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
